article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #78bae2;
  color: #fff;
  font-family: DIN-Light;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
#wrapper {
  position: relative;
  max-width: 1100px;
  margin: 0px auto;
}
.image-bg {
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
}
.image-bg img {
  min-width: 50%;
  min-height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}
.borderwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.borders {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  position: relative;
  height: 100%;
  margin-bottom: 20px;
}
.borders div {
  background: #fff;
  position: absolute;
  z-index: 10;
}
.borders .l,
.borders .r {
  width: 2px;
  background: #fff;
  position: absolute;
  top: 15px;
  bottom: -10px;
}
.borders .l {
  left: -20px;
}
.borders .r {
  right: -20px;
}
.borders .t,
.borders .b {
  border-bottom: 2px solid #fff;
  left: -20px;
  right: -20px;
  height: 2px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.borders .t {
  top: 15px;
}
.borders .b {
  bottom: -10px;
}
h1 {
  font-family: ClarendonLTStd;
  font-size: 102px;
  color: #fff;
  line-height: 122px;
  text-shadow: 1px 2px 0px #000;
  margin-bottom: 0;
}
h2 {
  font-family: DIN-Light;
  font-size: 56px;
  color: #fff;
  line-height: 68px;
}
h3 {
  font-family: DIN-Light;
  font-size: 34px;
  color: #fff;
  margin-top: 0;
  line-height: 52px;
}
.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 80px 30px 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.section a {
  color: #fff;
}
.wrap,
header,
.borders {
  max-width: 1200px;
  margin: 0px auto;
}
.upper {
  text-transform: uppercase;
}
.small {
  font-family: DIN-Light;
  font-size: 18px;
}
.button {
  background: #fff;
  font-family: DIN-Bold;
  font-size: 29px;
  color: #78bae2;
  padding: 20px 23px 19px 23px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 25px;
  text-decoration: none;
}
.button.white {
  color: #78bae2;
}
.button.small {
  padding: 0;
  background: transparent;
  font-family: DIN-Light;
  font-size: 18px;
  position: relative;
  bottom: 3px;
}
.button.small:hover {
  border-bottom: 1px solid #fff;
}
.wrap {
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.leader {
  padding-top: 150px;
}
#headwrap {
  padding: 0 25px;
  padding-top: 26px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}
header {
  border-bottom: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
  zoom: 1;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header nav {
  position: absolute;
  bottom: 30px;
}
header nav.left {
  left: 50%;
  margin-left: -500px;
}
header nav.right {
  right: 50%;
  margin-right: -540px;
}
header nav a {
  margin: 0 15px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  font-size: 24px;
  font-family: DIN-Regular;
}
header h1 {
  text-indent: -9999px;
  display: inline-block;
  width: 474px;
  margin-bottom: 0;
  margin-top: 0;
  height: 106px;
  background: url("../img/logos.png") center center no-repeat;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
