@import '_settings'


// smaller header
@media(max-width: 1200px)
    h1
        font-size 82px
    h2
        font-size 45px
    h3
        font-size 30px
    header
        nav
            &.left
                margin-left -400px

            &.right
                margin-right -440px

        h1
            padding 0 15px
            a
                width 300px
                height 90px

                background-size contain

@media(max-width: 1000px)
    .prizes
        .other
            li
                text-align center
                h5 
                    text-align center
                    font-size 25px

                span
                    display block
                    text-align center
                    font-size 18px

@media(max-width: 900px)
    h1
        font-size 62px
    h2
        font-size 37px
    h3
        font-size 26px
    .wrap
        padding-left 40px
        padding-right 40px
    header
        nav
            a
                font-size 20px
            &.left
                margin-left -360px

            &.right
                margin-right -400px

    .prizes
        .other
            padding-top 10px
            li
                display block
                padding 0
                margin .5em 0
                border-width 0px !important


@media(max-width: 800px)
    h1
        font-size 62px
    h3
        font-size 26px
    .button
        font-size 20px
        padding 13px 14px 12px 14px
        &.small
            font-size 15px
    header
        nav
            a
                font-size 20px
            &.left
                margin-left -310px

            &.right
                margin-right -350px
        h1
            padding 0 15px
            a
                width 200px
                height 90px

                background-size contain

@media(max-width: 768px)
    .borders
        display none

    .wrap
        padding-left 20px
        padding-right 20px
    h1
        font-size 40px
    h3
        font-size 21px

@media(max-width: 550px)
    .prizes
        li
            font-size 1.2em

            &:first-child
                font-size 2em


